$white : #fff;
$black : #000;

$text_default : rgb(39, 38, 38);


$primary_color_blue : rgb(0, 102, 153);
$primary_color_teal : #3a5663;
$accent_color : #33cccc;


$body_background : rgb(245, 245, 245);


$error_color : rgb(159, 29, 29);
